#app.show-grid {
    border:1px solid black;
    .hero {
        border:1px solid lighten(black, 5);
        .hero-head {
            border:1px dashed red;
        }
        .hero-body {
            border:1px dashed green;
        }
        .hero-foot {
            border:1px dashed blue;
        }
    }
}