$wrapper-app: 1px solid black;
$wrapper-container: 1px solid blue;
$wrapper-content: 1px dashed red;
$wrapper-child: 1px dashed green;

#app.show-grid {
    border:$wrapper-app;
    .hero {
        border:$wrapper-container;
        .hero-head {
            border:$wrapper-content;
        }
        .hero-body {
            border:$wrapper-content
        }
        .hero-foot {
            border:$wrapper-content;
        }
    }
    .columns, .level {
        border:$wrapper-container;
    }
    .level-left, .level-right {
        border:$wrapper-content;
    }
    .column, .level-item {
        border:$wrapper-child;
    }
}